* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  background-color: #1b1b32;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cont-cal {
  width: 350px;
  height: 550px;
  padding: 14px;
  background-color: #99c9ff;
  border-radius: 15px;
  border: 5px solid white;
}

.fila {
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}